---
title: 	⊂(◉‿◉)つ 
---

{% capture js %}
  {% render "./scripts/main.js" %}
{% endcapture %}

{% capture split %}
  {% render "./scripts/split.js" %}
{% endcapture %}

{% capture reset %}
  {% render "./css/reset.css" %}
{% endcapture %}

{% capture css %}
  {% render "./css/index.css" %}
{% endcapture %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="preload" href="/fonts/PPNeueBit-Regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/PPNeueBit-Bold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    {% comment %} <link rel="stylesheet" type="text/css" href="/css/index.css"> {% endcomment %}
    <style>
      {{- reset | cssmin -}}
    </style>
    <style>
      {{- css | cssmin -}}
    </style>
    {% if title == '⊂(◉‿◉)つ - projects' %}
    <link rel="stylesheet" type="text/css" href="/css/swiper.min.css">
    {% endif %}
    <script src="/scripts/fontfaceobserver.js"></script>
    <script src="/scripts/font-loading.js"></script>
    <script>
      {{- split | jsmin -}}
    </script>
  </head>
  <body>
    {{ content }}
  <script>
    {{- js | jsmin -}}
  </script>
  </body>
</html>