---
layout: /layouts/home.liquid
title: 	⊂(◉‿◉)つ - projects
---

<h1># Portfolio</h1>

<div class="portfolio-wrapper">
{% for project in collections.projects reversed %}
  <div class="project-container">
    <h2>{{ project.data.title }}</h2>
    <span class="italic">{{ project.data.project_date }}</span>
    <div class="pill-container">
      {% for tech in project.data.tech_stack %}
        <div class="pill">
          <span>{{ tech }}</span>
        </div>
      {% endfor %}
    </div>
    <div class="swiper">
      <div class="swiper-wrapper">
        {% if project.data.images %}
          {% for image in project.data.images %}
            <div class="swiper-slide">
              <a href="{{ image.externalUrl }}" width="550" target="_blank">
                <img src="{{ image.url }}" alt="{{ image.alt }}"/>
              </a>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
    {{ project.content }}
  </div>
{% endfor %}
</div>

<a class="btt" href="#top">Back to top</a>

<script src="/scripts/swiper.min.js"></script>
<script>
  const swiper = new Swiper('.swiper', {
    slidesPerView: 1.15,
    spaceBetween: 15
  })
</script>